.grid-net__item-button-delete {
    background-image: url(../../../images/Group.svg);
    position: absolute;
    border: 0;
    right: 20px;
    top: 20px;
    height: 19px;
    width: 18px;
    background-repeat: no-repeat;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    transition: opacity .3s ease-in-out;
  }

  .grid-net__item-button-delete:hover { 
    opacity: 0.6;
  }
  