@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__button/profile__button.css);
@import url(./blocks/profile/__info-box/profile__info-box.css);
@import url(./blocks/profile/__info-button/profile__info-button.css);
@import url(./blocks/profile/__info-fullname/profile__info-fullname.css);
@import url(./blocks/profile/__info-occupation/profile__info-occupation.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar-area/profile__avatar-area.css);
@import url(./blocks/profile/__avatar-area-button/profile__avatar-area-button.css);
@import url(./blocks/popup/__container/_type-avatar/popup__container_type-avatar.css);
@import url(./blocks/grid-net/__item-box/grid-net__item-box.css);
@import url(./blocks/grid-net/__item-button/grid-net__item-button.css);
@import url(./blocks/grid-net/__item-button/_active/grid-net__item-button_active.css);
@import url(./blocks/grid-net/__item-image/grid-net__item-image.css);
@import url(./blocks/grid-net/__item-title/grid-net__item-title.css);
@import url(./blocks/grid-net/__item-number/grid-net__item-number.css);
@import url(./blocks/grid-net/__item-user-box/grid-net__item-user-box.css);
@import url(./blocks/grid-net/__item/grid-net__item.css);
@import url(./blocks/grid-net/__item-image/_active/grid-net__item-image_active.css);
@import url(./blocks/grid-net/__item-button-delete/grid-net__item-button-delete.css);
@import url(./blocks/grid-net/grid-net.css);
@import url(./blocks/grid-net/__item-image-box/grid-net__item-image-box.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input/_type/_active/popup__input_type_active.css);
@import url(./blocks/popup/__submit/popup__submit.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__span/image-overlay__span.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_active/popop_active.css);
@import url(./blocks/popup/__overlay-holder/popup__overlay-holder.css);
@import url(./blocks/popup/__submit/_inactive/popup__submit_inactive.css);
@import url(./blocks/popup/__field/popup__field.css);
@import url(./blocks/popup/__title/_type_delete-card/popup__title_type_delete-card.css);
@import url(./blocks/popup/__container/_type_delete/popup__container_type_delete.css);
@import url(./blocks/popup/__input-error/popup__input-error.css);
@import url(./blocks/popup/__input-error/_active/popup__input-error_active.css);
@import url(./blocks/popup/__input/_type/_error/popup__input_type_error.css);
@import url(./blocks/popup/__input/_type/_active/popup__input_type_active.css);
@import url(./blocks/popup/__submit/_type-confirm/popup__submit_type-confirm.css);
@import url(./blocks/popup/__container/_type-avatar/popup__container_type-avatar.css)


