.footer {
    margin: 0 auto;
}

@media screen and (min-width: 1205px) {
    .footer {
     max-width: calc(100% - 400px);
     margin-top: 66px;
     margin-bottom: 60px;
    }
}

@media screen and (min-width: 320px) and (max-width: 1204px) {
    .footer {
     max-width: calc(100% - 32px);
     margin-top: 48px;
     margin-bottom: 36px;
    }
}