.header { 
    border-bottom: 1px solid rgba( 84, 84, 84, 0.7);
    padding-bottom: 29px;
}

@media screen and (min-width: 901px) {
    .header {
        max-width: calc(100% - 400px);
        margin: 45px auto 0;
    }
}

@media screen and (min-width: 320px) and (max-width: 900px) {
    .header {
        max-width: calc(100%);
        margin: 28px auto 0;
    }
}